.nav{
    display: flex;
    height: 60px;
}

.nav h2{
    margin-left: 10px;
}

.right{
    display: flex;
    align-items: center;
}

.example-button-row{
    margin-left: 1150px;
    margin-right: 30px;
}