<div class="nav">
  <div class="left">
    <h2>TaskBoard</h2>
  </div>
  <div class="right">
    <section>
        <div class="example-button-row">
          <button (click)="opencard()" mat-raised-button color="primary">Create Task</button>
        </div>

      </section>
  </div>
</div>
<mat-divider></mat-divider>
