#container-alpha{

    position: fixed;
      height: 100vh;
      width: 100vw;
      display: none;
      background-color: rgba(0,0,0,0.7);
      justify-content: center;
      align-items: center;
      z-index: 1;
}

.box{
    position: relative;
    height: 35vh;
    width: 30vw;
    background-color: white;
    border-radius: 10px;
}

.task{
    display: flex;
    flex-direction: column;
    
}

.task input{
    height: 40px;
    width: 200px;
    margin:10px 10px 10px 17px;
    padding:5px;
    font-size: large;

}

.actions{
    display: flex;
    justify-content: flex-end;
}

.actions button{
    margin: 15px;
    margin-bottom: 20px;

}