<div id="container-alpha" >
    <div class="box">
        <h2 style="margin:20px;">Add Task</h2>

        <div class="task">
            <input type="text" placeholder="Add your task" id="task" value="">
            <input type="text" placeholder="Task description" id="desc" value="">
        </div>

        <div class="actions">
            <button mat-raised-button color="accent" (click)="addtask()">Add</button>
    <button mat-raised-button color="warn" (click)="closetask()">Cancel</button>
        </div>
        
    </div>
</div>

