<app-addtask [display]="display" (parentFunction)="parentFunction($event)" (taskAddFunction)="taskAddFunction($event)"></app-addtask>
<div class="layer-1">
  <div class="layer-2">
    <app-top-nav (parentFunction)="parentFunction($event)"></app-top-nav>
      <div class="layer-3" cdkDropListGroup> 
        <app-todo [pushTask]="finalTask"></app-todo>
        <app-inprogress></app-inprogress>
        <app-onhold></app-onhold>
        <app-completed></app-completed>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
