.layer-1{
    min-height:100%;
    background-color: rgb(183, 219, 231);
    display: flex;
    justify-content: center;
}

.layer-2{
    background-color: white;
    margin-top: 3px;
}

.layer-3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}