<div class="container" >
    <div class="head">
      <p><b>Todo</b></p>
    </div>
    
    <div cdkDropList [cdkDropListData]="allTasks" class="movie-list" (cdkDropListDropped)="onDrop($event)" id="listone" [cdkDropListConnectedTo]="['listtwo']">  
      <mat-card class="example-card" *ngFor="let item of allTasks" cdkDrag>
      <mat-card-header>
        <mat-card-title>{{item[1]}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="width: 250px; word-wrap: break-word;">{{item[2]}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><mat-icon>visibility</mat-icon></button>
        <button mat-button (click)="deleteTask(item[0])"><mat-icon>delete</mat-icon></button>
        
      </mat-card-actions>
    </mat-card>
    </div>
</div>

