.container{
    width: calc(100vw/5);
}

.head{
    text-align: center;
}

.example-card{
    background-color: rgb(251, 168, 207);
    margin-top: 15px;
}

.mat-card-content{
    word-wrap: break-word;
}


.movie-list{
    width: calc(100vw/5);
    padding-bottom: 100px;

}